button {
    width: 600px;
    height: 80px;
    font-family: Roboto, sans-serif;
    border-radius: 28px;
    cursor: pointer;
    margin: 10px;
    font-size: 24px;
    background-color:  #2cffa0;
}

button:hover {
    background-color: #454546;
    color: #2cffa0;
}