* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: #000000;
}

.App {
  display: grid;
  width: 100%;
  height: 100vh;
  justify-items: center;
  align-items: center;
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contendedor-botones {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.contenedorbajo{
  align-items: center;
}
.botonR{
  button {
    width: 700px;
    height: 80px;
    font-family: Roboto, sans-serif;
    border-radius: 28px;
    cursor: pointer;
    margin: 10px;
    font-size: 24px;
    background-color:  #2cffa0;
}

button:hover {
    background-color: #454546;
    color: #2cffa0;
}
}